:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --accent-color: #2196f3;
  --main-color: #212121;
  --secondary-color: #757575;
}

body {
  font-family: var(--main-font);
  font-weight: 400;
  color: var(--main-color);
}

.link,
.contact-link,
.logo-link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.container {
  outline: 2px solid tomato;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* ========== HEADER ============*/

.header {
  background: #ffffff;
}

.logo-web {
  color: var(--accent-color);
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo-studio {
  color: #000000;
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-color);
}

.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}

.contact-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
}

.contact-link:hover,
.contact-link:focus {
  color: var(--accent-color);
}

.nav-link.current {
  color: var(--accent-color);
}

/* ============ END HEADER ===============*/

/* ============ HERO SECTION ============ */
.hero {
  background: #2f303a;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.modal-btn {
  font-family: inherit;
  background: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  cursor: pointer;
}

.modal-btn:hover,
.modal-btn:focus {
  background: #188ce8;
}

/* ============== END HERO SECTION============== */

/* ============== FEATURES =============== */
.features {
  background: #e5e5e5;
}
.feature-list {
  list-style: none;
}

.title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-color);
}

.feature-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}

/* ============ END FEATURES ===============  */

/* ============ PROJECTS COMPANY ============ */
.projects {
  background: #e5e5e5;
}
.project-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
}

/* ============ END PROJECTS COMPANY ============== */

/* ============ TEAM COMPANY =============  */

.team-company {
  background: #f5f4fa;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
}

.team-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--main-color);
}

.position {
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}

/* =========== END TEAM COMPANY ================ */

/* =============== FOOTER ================== */

.contacts-company {
  background: #2f303a;
}

.studio-logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.address-company {
  color: #ffffff;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.company-link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.company-link:hover,
.company-link:focus {
  color: var(--accent-color);
}

.company-link {
  text-decoration: none;
}

/* =========== END FOOTER ============ */

/* =========== PORTFOLIO ============= */

.portfolio-title,
.features-title {
  display: none;
}

.development-catalog {
  background: #e5e5e5;
}

.catalog-nav {
  list-style: none;
}

.nav-btn {
  font-family: inherit;
  background: #f5f4fa;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  cursor: pointer;
}
.nav-btn:hover,
.nav-btn:focus {
  background-color: var(--accent-color);
  color: #ffffff;
}

.development-item {
}

.development-link {
  text-decoration: none;
}

.development-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-color);
}

.development-section {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}
